.Window {
  --content-background: var(--hot-pink-05);
  --bar-padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: auto;
  background: var(--content-background);
  color: var(--text-yellow);
  border: 1px solid var(--highlight-yellow);
  display: inline-grid;
  grid-template:
    'bar'     auto
    'content' 1fr / 100%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.Window.ready {
  opacity: 1;
}

.Window.active {
  --content-background: var(--hot-pink-08);
  box-shadow: 0 0 1.5rem #FF5F9A;
}

.Window.closing {
  opacity: 0;
}

.Window[data-resize=true] span[data-drag] {
  display: inline-block;
  position: absolute;
  bottom: 0.375rem;
  right: 0.375rem;
  width: 0.75rem;
  height: 0.75rem;
}

.Window[data-resize=true] span[data-drag],
.Window[data-resize=true] span[data-drag]::before,
.Window[data-resize=true] span[data-drag]::after {
  background-image: radial-gradient(var(--light-pink) 40%, transparent 40%);
  background-size: 0.25rem 0.25rem;
  background-position: 0 100%;
  background-repeat: repeat-x;
}

.Window[data-resize=true] span[data-drag]::before,
.Window[data-resize=true] span[data-drag]::after {
  content: '';
  display: block;
  height: 33%;
}

.Window[data-resize=true] span[data-drag]::before {
  width: 33%;
  margin-left: 66%;
}

.Window[data-resize=true] span[data-drag]::after {
  width: 66%;
  margin-left: 33%;
}

.Bar {
  --bar-background: var(--hot-pink);
  --bar-text: var(--highlight-yellow);
  grid-area: bar;
}

.Window.active .Bar {
  --bar-background: var(--highlight-yellow);
  --bar-text: var(--hot-pink);
}

.Window:not(.active) img {
  opacity: 0.5;
}

.Bar > div:first-of-type {
  padding: var(--bar-padding);
  padding-left: calc(var(--bar-padding) * 1.5);
  background: var(--bar-background);
  color: var(--bar-text);
  border-bottom: 1px solid var(--highlight-yellow);
  line-height: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
}

.Bar > div:first-of-type:active {
  cursor: grabbing;
}

.Bar > div:first-of-type button {
  --button-size: 1.5rem;
  background: linear-gradient(180deg, #f97a64, var(--highlight-yellow) 80%, #FFCC86);
  width: var(--button-size);
  height: var(--button-size);
  font-size: 0.8rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 999px;
  transition: 0.2s;
  position: relative;
  overflow: visible;
}

.Bar > div:first-of-type button::before {
  --top-distance: 0.0625rem;
  content: '';
  z-index: 6;
  position: absolute;
  top: var(--top-distance);
  width: calc(0.65 * var(--button-size));
  height: calc(0.65 * var(--button-size));
  transform: scaleY(0.7);
  transform-origin: top;
  border-radius: 999px;
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
  opacity: 0.9;
}

.Bar > div:first-of-type button svg {
  height: 70%;
}

.Bar > div:first-of-type button svg * {
  fill: var(--deep-pink);
}

.Bar > div:first-of-type button:hover {
  transform: scale(1.1);
}

.Window.active .Bar {
  color: var(--hot-pink);
}

.Window.active .Bar > div:first-of-type button {
  background: linear-gradient(180deg, var(--deep-pink), var(--hot-pink) 80%, var(--med-pink));
  color: var(--text-yellow);
}

.Window.active .Bar > div:first-of-type button svg * {
  fill: var(--text-yellow);
}

.Content {
  --padding-size: 2rem;
  padding: var(--padding-size);
  padding-bottom: 0;
  overflow: auto;
}

.Content::after { /* workaround for safari sometimes ignoring bottom padding */
  content: '';
  display: block;
  width: 100%;
  height: var(--padding-size);
}

.Content::-webkit-scrollbar {
  width: 0.75rem;               /* width of the entire scrollbar */
}

.Content::-webkit-scrollbar-track {
  background: var(--hot-pink);        /* color of the tracking area */
}

.Content::-webkit-scrollbar-thumb {
  background: var(--highlight-yellow);
  border-radius: 999px;
  border: 0.25rem solid var(--hot-pink);
}

.Window.minimized .Content {
  max-height: 0;
}

.Tabs {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;
}

.Tab {
  flex: 1 1 auto;
  color: var(--text-yellow);
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
}

.Tab.active {
  flex-shrink: 0;
}

.Tab:not(.active) {
  background: var(--hot-pink);
  border: 1px solid var(--highlight-yellow);
  border-width: 0 1px 1px 1px;
}

.Tab:first-child, .Tab:not(.active) + .Tab:not(.active) {
  border-left: 0;
}

.Tab:last-child {
  border-right: 0;
}

.Tab button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5px;
  margin-left: 0.5rem;
}

.Tab button svg {
  height: 0.75rem;
}

.Tab button svg * {
  fill: var(--text-yellow);
}

@media screen and (max-width: 600px) {
  .Window {
    max-width: 90vw;
    max-height: 90vh;
  }
  .Content {
    --padding-size: 1.5rem;
  }
}
