.Window {
  --bar-padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: auto;
  background: var(--hot-pink-05);
  color: var(--text-yellow);
  border: 1px solid var(--highlight-yellow);
  display: inline-grid;
  grid-template:
    'bar'     auto
    'content' 1fr / 100%;
  /* animation: windowLaunch 0.2s 1 forwards; */
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
  resize: both;
}

.Window.ready {
  opacity: 1;
}

.Window.active {
  background: var(--hot-pink-08);
  box-shadow: 0 0 1.5rem #FF5F9A;
}

.Window.closing {
  opacity: 0;
}

.Bar {
  padding: var(--bar-padding);
  padding-left: calc(var(--bar-padding) * 1.5);
  background: var(--hot-pink);
  border-bottom: 1px solid var(--highlight-yellow);
  line-height: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
  grid-area: bar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
}

.Bar:active {
  cursor: grabbing;
}

.Bar button {
  --button-size: 1.5rem;
  background: linear-gradient(180deg, #f97a64, var(--highlight-yellow) 80%, #FFCC86);
  width: var(--button-size);
  height: var(--button-size);
  font-size: 0.8rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 999px;
  transition: 0.2s;
  position: relative;
  overflow: visible;
}

.Bar button::before {
  --top-distance: 0.0625rem;
  content: '';
  z-index: 6;
  position: absolute;
  top: var(--top-distance);
  width: calc(0.65 * var(--button-size));
  height: calc(0.65 * var(--button-size));
  transform: scaleY(0.7);
  transform-origin: top;
  border-radius: 999px;
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
  opacity: 0.9;
}

.Bar button svg {
  height: 70%;
}

.Bar button svg * {
  fill: var(--deep-pink);
}

.Bar button:hover {
  transform: scale(1.1);
}

.Window.active .Bar {
  background: var(--highlight-yellow);
  color: var(--hot-pink);
}

.Window.active .Bar button {
  background: linear-gradient(180deg, var(--deep-pink), var(--hot-pink) 80%, var(--med-pink));
  color: var(--text-yellow);
}

.Window.active .Bar button svg * {
  fill: var(--text-yellow);
}

.Content {
  padding: 2rem;
  overflow: auto;
}

.Window.minimized .Content {
  max-height: 0;
}

@media screen and (max-width: 600px) {
  .Window {
    max-width: 90vw;
    max-height: 90vh;
  }
  .Content {
    padding: 1.5rem;
  }
}
