#console {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 1rem;
  z-index: 99999999999999999;
  color: #000;
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body, body > *, body > * > *, main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a {
  cursor: pointer;
}

span[data-tab-link] > a {
  text-decoration: underline;
}

*:last-child {
  margin-bottom: 0;
}

button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

canvas {
  user-select: none;
}