#console {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 1rem;
  z-index: 99999999999999999;
  color: #000;
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body, body > *, body > * > *, main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a {
  cursor: pointer;
}

span[data-tab-link] > a, span[data-window-link] > a {
  text-decoration: underline;
}

*:last-child {
  margin-bottom: 0;
}

button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

main div[data-scene] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main div[data-scene] > canvas {
  transition: 0.2s;
}

main > *:not(canvas) {
  transition: 0.5s;
}

main.loading div[data-scene] > canvas {
  opacity: 0;
}

main.loading div[data-scene] svg {
  position: absolute;
  width: 100px;
  height: 100px;
}

main.loading > *:not(canvas) {
  filter: grayscale();
}

canvas {
  user-select: none;
}