@font-face {
  font-family: 'Carbon';
  src: url("/fonts/Carbon.ttf");
}

@font-face {
  font-family: 'NimbusSansBecker';
  src: url("/fonts/NimbusSansBecker.otf");
}

main {
  --header-font: 'NimbusSansBecker', 'Helvetica Neue', sans-serif;
  --default-font: 'Carbon', monospace;
  --layout-margin: 5vw;
  --visible-margin: 0;
  padding: var(--layout-margin);
}

main.oracle {
  --nav-margin: calc(var(--layout-margin) * 0.5);
  --text-color: #b3aeff;
  --accent-color: #6a5fff;
  --bgcolor-preview: rgb(68, 17, 66);
  --bgcolor-rgb: 68, 17, 66;
  --bgcolor: rgb(var(--bgcolor-rgb));
  --btn1-text: var(--bgcolor);
  --btn1-deep: #3d31e0;
  --btn1-mid: var(--accent-color);
  --btn1-fade: #938bff;
  --btn2-text: var(--text-color);
  --btn2-deep: #360935;
  --btn2-mid: #a720a2;
  --btn2-fade: #ff80fb;
  --window-drag: #ffa8ec;
  --window-glow: #5549ff;
}

main.crystal {
  --nav-margin: calc(var(--layout-margin) * 0.5);
  --text-color: #cbe9c9;
  --accent-color: #8d1c18;
  --bgcolor-preview: rgb(29, 9, 7);
  --bgcolor-rgb: 29, 9, 7;
  --bgcolor: rgb(var(--bgcolor-rgb));
  --btn1-text: var(--bgcolor);
  --btn1-deep: #550000;
  --btn1-mid: var(--accent-color);
  --btn1-fade: #a72a26;
  --btn2-text: var(--text-color);
  --btn2-deep: #051a05;
  --btn2-mid: #092b09;
  --btn2-fade: #134213;
  --window-drag: #cbe9c9;
  --window-glow: #217721;
}

main.donttouch {
  --nav-margin: calc(var(--layout-margin) * 0.5);
  --text-color: #bdbbe0;
  --accent-color: #9c56bd;
  --bgcolor-preview: rgb(39, 15, 16);
  --bgcolor-rgb: 39, 15, 16;
  --bgcolor: rgb(var(--bgcolor-rgb));
  --btn1-text: var(--bgcolor);
  --btn1-deep: #8442a3;
  --btn1-mid: var(--accent-color);
  --btn1-fade: #c18cda;
  --btn2-text: var(--text-color);
  --btn2-deep: #273891;
  --btn2-mid: #4c5ba7;
  --btn2-fade: #8392dd;
  --window-drag: #dab7eb;
  --window-glow: #5C6BB2;
}

main.groovy {
  --nav-margin: calc(var(--layout-margin) * 0.5);
  --text-color: #ffedc7;
  --accent-color: #FFB64E;
  --bgcolor-preview: rgb(254, 6, 155);
  --bgcolor-rgb: 254, 6, 155;
  --bgcolor: rgb(var(--bgcolor-rgb));
  --btn1-text: var(--bgcolor);
  --btn1-deep: #f97a64;
  --btn1-mid: var(--accent-color);
  --btn1-fade: #FFCC86;
  --btn2-text: var(--text-color);
  --btn2-deep: #dd0085;
  --btn2-mid: var(--bgcolor);
  --btn2-fade: #FF7AD7;
  --window-drag: #ffb4e8;
  --window-glow: #FF5F9A;
}

a {
  color: var(--text-color);
}

h2 {
  font-family: var(--header-font);
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 0.7;
  text-transform: lowercase;
  -webkit-transform: scaleY(0.8);
          transform: scaleY(0.8);
}

h3 {
  margin-bottom: 0.5rem;
}

ul + h3 {
  margin-top: 1.5rem;
}

main {
  font-family: var(--default-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > nav {
  position: fixed;
  padding: var(--nav-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

main > nav[data-main] {
  bottom: 0;
  --button-size: 4rem;
  --button-margin: calc(0.7 * var(--nav-margin));
  --icon-rel-height: 45%;
}

main > nav:not([data-main]) {
  top: 0;
  /* filter: brightness(0.8); */
  --button-size: 2.5rem;
  --button-margin: calc(0.4 * var(--nav-margin));
  --icon-rel-height: 55%;
}

main > nav.errorpage {
  right: 0;
}

main nav.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem -0.75rem -0.75rem 0;
}

main nav.buttons > * {
  margin: 0 0.75rem 0.75rem 0;
}

ul {
  padding-left: 1.75rem;
}

ul li {
  list-style-image: url("https://i.imgur.com/AVg5Sve.png");
  --marker-size: 0.25rem;
  --padding-size: 0.5rem;
}

ul li + li {
  margin-top: 0.25rem;
}

.glossy {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--btn1-deep)), color-stop(80%, var(--btn1-mid)), to(var(--btn1-fade)));
  background: linear-gradient(180deg, var(--btn1-deep), var(--btn1-mid) 80%, var(--btn1-fade));
  color: var(--bgcolor);
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: none;
          filter: none;
}

.glossy::before {
  --top-distance: 0.125rem;
  content: '';
  z-index: 6;
  position: absolute;
  top: var(--top-distance);
  width: calc(100% - calc(var(--top-distance) * 6));
  height: 80%;
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
  -webkit-transform-origin: top;
          transform-origin: top;
  border-radius: 999px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  opacity: 0.7;
}

.glossy:hover {
  -webkit-transform: scale(1.1) rotate(-3deg);
          transform: scale(1.1) rotate(-3deg);
  color: #ac3f00;
  -webkit-filter: hue-rotate(-60deg);
          filter: hue-rotate(-60deg);
}

@media screen and (max-width: 600px) {
  main nav[aria-label='Main site'] {
    padding-bottom: calc(2 * var(--nav-margin));
  }
  h2 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=theme.css.map */