.hero {
  --hero-size: 40vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
  width: var(--hero-size);
  height: var(--hero-size);
  background: url('../../assets/hero.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .hero {
    --hero-size: 80vw;
  }
}