@font-face {
  font-family: Carbon;
  src: url('../../assets/fonts/Carbon.ttf');
}

main {
  --header-font: 'Helvetica Neue', monospace;
  --default-font: 'Carbon', monospace;
  --layout-margin: 5vw;
  --visible-margin: 0;
  --nav-margin: calc(var(--layout-margin) * 0.5);
  --hot-pink: #FE069B;
  --hot-pink-08: rgba(254, 6, 155, 0.8);
  --hot-pink-05: rgba(254, 6, 155, 0.5);
  --text-yellow: #ffedc7;
  --highlight-yellow: #FFB64E;
  padding: var(--layout-margin);
}

a {
  color: var(--text-yellow);
}

h2 {
  font-family: var(--header-font);
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 0.5;
  text-transform: lowercase;
  transform: scaleY(0.8);
}

main.groovy {
  font-family: var(--default-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

main.groovy nav[aria-label='Main site'] {
  position: fixed;
  bottom: 0;
  padding: var(--nav-margin);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  main.groovy nav[aria-label='Main site'] {
    padding-bottom: calc(2 * var(--nav-margin));
  }
}