@font-face {
  font-family: 'Carbon';
  src: url('/fonts/Carbon.ttf');
}

@font-face {
  font-family: 'NimbusSansBecker';
  src: url('/fonts/NimbusSansBecker.otf');
}

main {
  --header-font: 'NimbusSansBecker', 'Helvetica Neue', sans-serif;
  --default-font: 'Carbon', monospace;
  --layout-margin: 5vw;
  --visible-margin: 0;
  --nav-margin: calc(var(--layout-margin) * 0.5);
  --deep-pink: #dd0085;
  --hot-pink: #FE069B;
  --hot-pink-08: rgba(254, 6, 155, 0.8);
  --hot-pink-05: rgba(254, 6, 155, 0.5);
  --light-pink: #ffb4e8;
  --med-pink: #FF7AD7;
  --text-yellow: #ffedc7;
  --highlight-yellow: #FFB64E;
  padding: var(--layout-margin);
}

a {
  color: var(--text-yellow);
}

h2 {
  font-family: var(--header-font);
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 0.7;
  text-transform: lowercase;
  transform: scaleY(0.8);
}

h3 {
  margin-bottom: 0.5rem;
}

ul + h3 {
  margin-top: 1.5rem;
}

main.groovy {
  font-family: var(--default-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

main.groovy > nav {
  position: fixed;
  bottom: 0;
  padding: var(--nav-margin);
  display: flex;
  align-items: center;
  justify-content: center;
}

main.groovy > nav.errorpage {
  right: 0;
}

main.groovy nav.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem -0.75rem -0.75rem 0;
}

main.groovy nav.buttons > * {
  margin: 0 0.75rem 0.75rem 0;
}

ul {
  padding-left: 1.75rem;
}

ul li {
  list-style-image: url('https://i.imgur.com/AVg5Sve.png');
  --marker-size: 0.25rem;
  --padding-size: 0.5rem;
}

ul li + li {
  margin-top: 0.25rem;
}

.glossy {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  background: linear-gradient(180deg, #f97a64, var(--highlight-yellow) 80%, #FFCC86);
  color: var(--deep-pink);
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
  filter: none;
}

.glossy::before {
  --top-distance: 0.125rem;
  content: '';
  z-index: 6;
  position: absolute;
  top: var(--top-distance);
  width: calc(100% - calc(var(--top-distance) * 6));
  height: 80%;
  transform: scaleY(0.7);
  transform-origin: top;
  border-radius: 999px;
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
  opacity: 0.7;
}

.glossy:hover {
  transform: scale(1.1) rotate(-3deg);
  color: rgb(172, 63, 0);
  filter: hue-rotate(-60deg);
}

@media screen and (max-width: 600px) {
  main.groovy nav[aria-label='Main site'] {
    padding-bottom: calc(2 * var(--nav-margin));
  }
  h2 {
    font-size: 2.5rem;
  }
}
